:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #4b4b4b;
  --color-link-hover: #000;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: ivymode, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  position: relative;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .frame {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 2rem;
    grid-gap: 3rem;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-template-columns: min-content min-content auto 300px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'title links info ...'
      '... ... ... ...'
      '... ... demos demos';
  }
  .content {
    height: 100vh;
    justify-content: center;
  }
}

#slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dg {
  z-index: 100 !important;
}

.c-app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.c-app-header h1 {
  margin: 0;
  color: white;
}

.c-menu-btn {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
}

.c-hero-pitch h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  line-height: 1.4;
}

.c-hero-pitch h1 strong {
  font-size: 500%;
}
